#rotating-w {
    font-family: 'Courier', monospace;
    font-size: 300px; /* Adjust the size as needed */
    color: neon-green;
    text-shadow: 3px 3px gray;
    animation: rotate 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Neon effect */
@-webkit-keyframes neon {
    0% {
        text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
    }
    100% {
        text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 35px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 75px #00ff00;
    }
}
